In [32]:
import pandas as pd
import numpy as np

In [80]:
region = pd.read_csv("RAW/region.csv")
region

   region_id region_name
0          1      Africa
1          2     America
2          3        Asia
3          4      Europe
4          5     Oceania

In [91]:
customer_nodes = pd.read_csv("RAW/Customer_Nodes.csv")

customer_nodes = customer_nodes.merge(region, 'left', 'region_id')

customer_nodes

      customer_id  region_id  node_id   start_date     end_date region_name
0               1          3        4   2020-01-02   2020-01-03        Asia
1               2          3        5   2020-01-03   2020-01-17        Asia
2               3          5        4   2020-01-27   2020-02-18     Oceania
3               4          5        4   2020-01-07   2020-01-19     Oceania
4               5          3        3   2020-01-15   2020-01-23        Asia
...           ...        ...      ...          ...          ...         ...
3495          496          3        4   2020-02-25   9999-12-31        Asia
3496          497          5        4   2020-05-27   9999-12-31     Oceania
3497          498          1        2   2020-04-05   9999-12-31      Africa
3498          499          5        1   2020-02-03   9999-12-31     Oceania
3499          500          2        2   2020-04-15   9999-12-31     America

[3500 rows x 6 columns]

In [35]:
customer_transactions = pd.read_csv("RAW/Customer_Transactions.csv")
customer_transactions

      customer_id     txn_date     txn_type  txn_amount
0             429   2020-01-21      deposit          82
1             155   2020-01-10      deposit         712
2             398   2020-01-01      deposit         196
3             255   2020-01-14      deposit         563
4             185   2020-01-29      deposit         626
...           ...          ...          ...         ...
5863          189   2020-02-03   withdrawal         870
5864          189   2020-03-22     purchase         718
5865          189   2020-02-06     purchase         393
5866          189   2020-01-22      deposit         302
5867          189   2020-01-27   withdrawal         861

[5868 rows x 4 columns]

A. Customer Nodes Exploration
How many unique nodes are there on the Data Bank system?
What is the number of nodes per region?
How many customers are allocated to each region?
How many days on average are customers reallocated to a different node?
What is the median, 80th and 95th percentile for this same reallocation days metric for each region?

In [64]:
#How many unique nodes are there on the Data Bank system?
print("there are",customer_nodes.node_id.count(),"entries of nodes in the Data bank System")

print("these are all variations of the following ",len(customer_nodes.node_id.unique()),":",customer_nodes.node_id.unique())

print("in the following proportions", customer_nodes.groupby('node_id').size())

there are 3500 entries of nodes in the Data bank System
these are all variations of the following  5 : [4 5 3 1 2]
in the following proportions node_id
1    728
2    662
3    699
4    704
5    707
dtype: int64

In [93]:
#What is the number of nodes per region?
print("The Distribution for nodes per region is ", customer_nodes.groupby('region_name').size())

The Distribution for nodes per region is  region_name
Africa     770
America    735
Asia       714
Europe     665
Oceania    616
dtype: int64

In [98]:
#How many customers are allocated to each region?

print("The Distribution for customer per region is ",customer_nodes.groupby('region_name'))

The Distribution for customer per region is  <pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000235CA169250>

In [62]:
help(pd.Series.sort_values)

Help on function sort_values in module pandas.core.series:

sort_values(self, axis=0, ascending: Union[bool, int, Sequence[Union[bool, int]]] = True, inplace: bool = False, kind: str = 'quicksort', na_position: str = 'last', ignore_index: bool = False, key: Optional[Callable[[ForwardRef('Series')], Union[ForwardRef('Series'), ~AnyArrayLike]]] = None)
    Sort by the values.

    Sort a Series in ascending or descending order by some
    criterion.

    Parameters
    ----------
    axis : {0 or 'index'}, default 0
        Axis to direct sorting. The value 'index' is accepted for
        compatibility with DataFrame.sort_values.
    ascending : bool or list of bools, default True
        If True, sort values in ascending order, otherwise descending.
    inplace : bool, default False
        If True, perform operation in-place.
    kind : {'quicksort', 'mergesort' or 'heapsort'}, default 'quicksort'
        Choice of sorting algorithm. See also :func:`numpy.sort` for more
        information. 'mergesort' is the only stable  algorithm.
    na_position : {'first' or 'last'}, default 'last'
        Argument 'first' puts NaNs at the beginning, 'last' puts NaNs at
        the end.
    ignore_index : bool, default False
        If True, the resulting axis will be labeled 0, 1, …, n - 1.

        .. versionadded:: 1.0.0

    key : callable, optional
        If not None, apply the key function to the series values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return an array-like.

        .. versionadded:: 1.1.0

    Returns
    -------
    Series or None
        Series ordered by values or None if ``inplace=True``.

    See Also
    --------
    Series.sort_index : Sort by the Series indices.
    DataFrame.sort_values : Sort DataFrame by the values along either axis.
    DataFrame.sort_index : Sort DataFrame by indices.

    Examples
    --------
    >>> s = pd.Series([np.nan, 1, 3, 10, 5])
    >>> s
    0     NaN
    1     1.0
    2     3.0
    3     10.0
    4     5.0
    dtype: float64

    Sort values ascending order (default behaviour)

    >>> s.sort_values(ascending=True)
    1     1.0
    2     3.0
    4     5.0
    3    10.0
    0     NaN
    dtype: float64

    Sort values descending order

    >>> s.sort_values(ascending=False)
    3    10.0
    4     5.0
    2     3.0
    1     1.0
    0     NaN
    dtype: float64

    Sort values inplace

    >>> s.sort_values(ascending=False, inplace=True)
    >>> s
    3    10.0
    4     5.0
    2     3.0
    1     1.0
    0     NaN
    dtype: float64

    Sort values putting NAs first

    >>> s.sort_values(na_position='first')
    0     NaN
    1     1.0
    2     3.0
    4     5.0
    3    10.0
    dtype: float64

    Sort a series of strings

    >>> s = pd.Series(['z', 'b', 'd', 'a', 'c'])
    >>> s
    0    z
    1    b
    2    d
    3    a
    4    c
    dtype: object

    >>> s.sort_values()
    3    a
    1    b
    4    c
    2    d
    0    z
    dtype: object

    Sort using a key function. Your `key` function will be
    given the ``Series`` of values and should return an array-like.

    >>> s = pd.Series(['a', 'B', 'c', 'D', 'e'])
    >>> s.sort_values()
    1    B
    3    D
    0    a
    2    c
    4    e
    dtype: object
    >>> s.sort_values(key=lambda x: x.str.lower())
    0    a
    1    B
    2    c
    3    D
    4    e
    dtype: object

    NumPy ufuncs work well here. For example, we can
    sort by the ``sin`` of the value

    >>> s = pd.Series([-4, -2, 0, 2, 4])
    >>> s.sort_values(key=np.sin)
    1   -2
    4    4
    2    0
    0   -4
    3    2
    dtype: int64

    More complicated user-defined functions can be used,
    as long as they expect a Series and return an array-like

    >>> s.sort_values(key=lambda x: (np.tan(x.cumsum())))
    0   -4
    3    2
    4    4
    1   -2
    2    0
    dtype: int64